/* 
   #btn
   ========================================================================== */

/**
 * The btn object is a baseline for creating buttons.
 *
 * <a class="bare-btn" href="#"></a>
 */

.bare-btn {
	background: #E5E5E5;
	color: #222;
	border-radius: 2px;
}

	.bare-btn:hover {
		background: #DBDBDB;
	}

/* 
   #btn--active
   ========================================================================== */

/**
 * The btn--active modifier creates buttons that appear "pressed"
 *
 * <a class="bare-btn bare-btn--active" href="#"></a>
 */

.bare-btn:active,
.bare-btn--active {
	box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    border-color: #000\9;
}
